footer {
    background-color: var(--ah-color-dark);
    height: 70px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ah-footer__text {
    color: var(--ah-color-light);
    font-family: "Philosopher", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}